<%- include('partials/header') %>

<h1>entered home</h1>
<a class="btn btn-dark btn-lg" href="/friends">friends</a>
<a class="btn btn-dark btn-lg" href="/groups">groups</a>

<%- include('partials/footer') %>
