@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Teko:wght@300&display=swap');
 
 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

body {
    font-family: "Roboto";
}

.signup-login-page-bg-container {
    padding-top: 9%;
    padding-bottom: 9%;
    background-color: rgb(31, 212, 194);
    /* background-color: rgb(132, 248, 236); */
    height: 100vh;
}

.signup-login-container {
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(10px);
    padding: 10px 30px 30px 30px;

}

.signup-login-container-heading {
    margin: 30px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.signup-login-container-heading:hover {
    background-color:rgba(245, 74, 117, 0.933) ;
    padding: 10px 20px;
    /* border-radius: 0.5rem; */
    color: white;
    box-shadow:  rgba(191, 16, 51, 0.999) 0px 50px 100px -20px,  rgba(191, 16, 51, 0.999) 0px 30px 60px -30px, rgba(191, 16, 51, 0.999) 0px -2px 6px 0px inset;
    cursor: pointer;
}

.sign-login-input-element {
    width: 100%; 
    padding: 15px;
    border: 2px solid #e1e3e8;
    font-family: "Roboto";
    font-size: 18px;
    border-radius: 10px;
}

.password-toggle-icon {
    margin: auto;
    margin-left: -40px;
    cursor: pointer;
}

.login-button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    border: 0px solid;
    box-shadow:  rgba(191, 16, 51, 0.999) 0px 50px 100px -20px,  rgba(191, 16, 51, 0.999) 0px 30px 60px -30px, rgba(191, 16, 51, 0.999) 0px -2px 6px 0px inset;
    background-color: rgba(245, 74, 117, 0.933) ;
}

.kathabook-heading {
    color: #141401;
    font-size: 4rem;
    
}

.opened-section {
    background-color:rgba(245, 74, 117, 0.933) ;
    padding: 10px 20px;
    /* border-radius: 0.5rem; */
    color: white;
    box-shadow:  rgba(191, 16, 51, 0.999) 0px 50px 100px -20px,  rgba(191, 16, 51, 0.999) 0px 30px 60px -30px, rgba(191, 16, 51, 0.999) 0px -2px 6px 0px inset;
    cursor: pointer;
}

.khaatabook-caption {
    font-size: 2rem;
    font-family: 'Teko', sans-serif;
}

.signup-checkbox {
    width: 15px;
    height: 15px;
}

.not-matched-password-status {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.matched-password-status {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

